//-------------------------------------------------------
//- Modules :: Footer
//-------------------------------------------------------

mixin footer()
  footer.footer
    ul.list-inline
      li.list-inline-item
        a.footer-link(href="#!") Support
      li.list-inline-item
        a.footer-link(href="#!") Help Center
      li.list-inline-item
        a.footer-link(href="#!") Privacy
      li.list-inline-item
        a.footer-link(href="#!") Terms of Service
    .copy-right Copyright © 2018. All right reserved. 
