# Frontend folder
#dest/
tmp/

# Dependency directories
node_modules/

# Dependency lock files
# We only use Yarn as our official Node package manager, and so we will only
# commit yarn.lock files, and ignore package-lock.json files
package-lock.json

# Mac files
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE
.vscode/
.idea/

# dotenv environment variables file
.env

# Framgia CI
.framgia-ci-reports/**
!.framgia-ci-reports/.keep
.framgia-ci-result.temp.yml
.history/
package-lock.json
