// ======================================================
// Layout :: Footer
// ======================================================
.footer {
  margin: 24px 0;
  padding: 0 16px;
  text-align: center;

  .footer-link {
    color: $cl-dark-gray;
    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint-down(phone) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

