// ======================================================
// Layout :: Header
// ======================================================

/* stylelint-disable */
.main-header {
  background-color: $bg-indigo ;
  display: flex;
  width: 100%;
  height: 56px;
  align-items: stretch;

  &__brand {
    padding: 0 8px 0 16px;
    line-height: 30px;
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: rgba(20, 20, 31, .12);

    img {
      height: 32px;
      width: auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .main-header-item {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__btn-toggle {
    display: none;
  }

  &__form-search {
    flex: 1;
    form {
      width: 100%;
    }
    .form-group {
      margin-bottom: 0;

      input {
        border-color: transparent;
        background-color: hsla(0, 0%, 100%, .12);

        &::placeholder {
          color: hsla(0, 0%, 100%, .6);
        }

        &:focus {
          &::placeholder {
            color: $cl-dark-gray;
          }

          & ~ .input-field__icon i {
            color: $cl-dark-gray;
          }
        }
      }
      .input-field__icon i {
        color: hsla(0, 0%, 100%, .6);
      }
    }
  }

  &__right {
    margin-left: auto;
  }

  .nav-icons {
    padding: 0 8px;
    @extend %dropdown;

    .nav-link {
      color: hsla(0, 0%, 100%, .8);
      cursor: pointer;
      margin: 0 4px;
      padding: 6px 12px;
      position: relative;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 36px;

      &:hover,
      &:focus {
        color: $cl-white;
        background-color: hsla(0, 0%, 100%, .12);
      }

      .indicator {
        display: block;
        height: 6px;
        width: 6px;
        position: absolute;
        top: 7px;
        right: 8px;
        border-radius: 3px;
        background-color: $bg-yellow ;
      }
    }
    & > .show >.nav-link {
      color: $cl-white;
      background-color: rgba(20, 20, 31, .12);
    }

    .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0;
      width: 320px;

      .dropdown-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: $cl-dark-gray;
        border-bottom: 1px solid rgba(34, 34, 48, .1);
        white-space: nowrap;
        
        > a {
          font-weight: 400;
          font-size: 12px;
          color: $cl-dark-gray;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        .badge {
          font-size: 11px;
          padding: 4px 6px;
        }
      }

      .dropdown-scroll {
        height: 263px;
        position: relative;
      }

      .dropdown-footer a{
        margin: 0;
        display: block;
        padding: 12px 16px;
        font-size: 14px;
        text-align: center;
        border-top: 1px solid rgba(34, 34, 48,.1);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
          background-color: $bg-light-gray;
        }
      }

      .dropdown-item {
        padding: 12px 16px;
        display: flex;
        align-items: flex-start;
        transition: all .3s;

        &--unread {
          .text,
          .subject {
            font-weight: 600;
            color: $cl-light-black;
          }
        }

        &__body {
          padding-left: 16px;
          flex: 1;
          white-space: normal;
          min-width: 0;

          .text,
          .subject {
            font-size: 14px;
            margin-bottom: 0;
            line-height: 19.6px;
          }

          .time {
            margin-bottom: 0;
            font-size: 12px;
            color: $cl-dark-gray;
            line-height: 17px;
          }
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $bg-indigo ;

          .text,
          .subject,
          .time {
            color: $cl-white;
          }
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(34, 34, 48, .1);
        }
      }
    }

    &__activities {
      .dropdown-menu {
        position: absolute;
        will-change: top, left;
        top: 37px;
        left: -276px;
      }
    }

    .dropdown-sheets {
      .list-sheets {
        padding-top: 24px;
        display: flex;
        flex-flow: row wrap;
      }

      .dropdown-sheet-item {
        margin-bottom: 24px;
        color: $cl-dark-gray;
        width: 33.33333%;
        text-align: center;

        &__avatar {
          width: 48px;
          height: 48px;
          line-height: 48px;
          display: inline-block;
          margin-bottom: 4px;
          border-radius: 5px;
          font-size: 20px;
          color: $cl-white;

          &.bg--yellow {
            color: $cl-light-black;
          }
        }

        .title-peek {
          color: $cl-dark-gray;
          display: block;
          font-size: 14px;
        }
      }

      .title-wrapper {
        display: inline-block;
        text-align: center;

        &:hover .title-peek {
          color: $cl-light-black;
        }
      }
    }
  }
}

.user-avatar {
  @extend %user-avatar;
  &--xs {
    width: 20px;
    height: 20px;
  }
  &--sm {
    width: 24px;
    height: 24px;
  }
  &--xl {
    width: 80px;
    height: 80px;
  }
}

.user-profile {
  $block: &;

  padding: 0 16px;
  min-width: 56px;
  min-height: 56px;
  color: $cl-white;
  border-left: 1px solid rgba(34, 34, 48, .12);
  cursor: pointer;
  align-items: center;
  display: flex;
  @extend %dropdown;

  &__avatar {
    @extend %user-avatar;
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  &__info {
    max-width: 160px;
    margin-right: 12px;
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    #{$block}__name,
    #{$block}__position {
      margin: 0;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      line-height: 16px;
    }

    #{$block}__position {
      font-size: 12px;
      font-weight: 400;
      opacity: .7;
    }
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, .12);
  }

  &.show {
    background-color: rgba(20, 20, 31, .12);
  }
  
  &.show {
    .dropdown-arrow {
      display: block;
      transform-origin: bottom;
      animation: showArrow .3s ease-in-out;
    }
  }
  .dropdown-menu {
    position: absolute;
    will-change: top, left;
    top: 5px;
    left: 0px;

    .dropdown-item{
      &__icon {
        margin-right: 4px;
        color: $cl-gray-2;
        width: 20px;
      }
      
      &:hover .dropdown-item__icon{
        color: $cl-white;
      }
    }
  }
}

.avatar {
  display: inline-block;
  color: #888c9b;
  width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;

  &--sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  &--md {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  &--lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

  &--circle {
    border-radius: 64px;
  } 
}
.avatar.bg--blue,
.avatar.bg--indigo,
.avatar.bg--light-purple,
.avatar.bg--dark-purple,
.avatar.bg--light-purple,
.avatar.bg--light-green,
.avatar.bg--red-3,
.avatar.bg--orange-3,
a.avatar.bg--blue:focus,
a.avatar.bg--blue:hover,
a.avatar.bg--dark:focus,
a.avatar.bg--dark:hover,
a.avatar.bg--indigo:focus,
a.avatar.bg--indigo:hover,
a.avatar.bg--light-purple:focus,
a.avatar.bg--light-purple:hover,
a.avatar.bg--dark-purple:focus,
a.avatar.bg--dark-purple:hover,
a.avatar.bg--red-3:focus,
a.avatar.bg--red-3:hover,
a.avatar.bg--red:hover,
a.avatar.bg--light-green:focus,
a.avatar.bg--light-green:hover, 
a.avatar.bg--light-purple:focus,
a.avatar.bg--light-purple:hover{
  color: $cl-white;
}

.avatar.bg--green,
.avatar.bg--orange-3,
.avatar.bg--yellow,
a.avatar.bg--green:focus,
a.avatar.bg--green:hover,
a.avatar.bg--orange-3:focus,
a.avatar.bg--orange-3:hover,
a.avatar.bg--yellow:focus,
a.avatar.bg--yellow:hover {
  color: $cl-light-black;
}

a.bg--dark-purple:focus,
a.bg--dark-purple:hover,
button.bg--dark-purple:focus,
button.bg--dark-purple:hover {
  background-color: $cl-purple-2 ;
}
a.bg--indigo:focus,
a.bg--indigo:hover,
button.bg--indigo:focus,
button.bg--indigo:hover {
  background-color: $cl-indigo-2;
}
a.bg--yellow:focus,
a.bg--yellow:hover,
button.bg--yellow:focus,
button.bg--yellow:hover {
  background-color: $cl-yellow-2;
}
a.bg--blue:focus,
a.bg--blue:hover,
button.bg--blue:focus,
button.bg--blue:hover {
  background-color: $cl-blue-2;
}
a.bg--light-green:focus,
a.bg--light-green:hover,
button.bg--light-green:focus,
button.bg--light-green:hover {
  background-color: $cl-green-2 ;
}
a.bg--light-purple:focus,
a.bg--light-purple:hover,
button.bg--light-purple:focus,
button.bg--light-purple:hover {
  background-color: $cl-purple-3;
}
a.bg--green:focus, 
a.bg--green:hover, 
button.bg--green:focus, 
button.bg--green:hover {
  background-color: #8bb575;
}

a.bg--red-3:focus, 
a.bg--red-3:hover, 
button.bg--red-3:focus, 
button.bg--red-3:hover {
  background-color: #e43e2c;
}
a.bg--orange-3:focus, 
a.bg--orange-3:hover, 
button.bg--orange-3:focus, 
button.bg--orange-3:hover {
  background-color: #e77430;
}
@media (min-width: 768px) {
  .main-header {
    .main-header-item {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

@media (min-width: 992px) {
  .main-header {
    .main-header-item {
      padding-left: 32px;
    }
  }
}

/* stylelint-enable */
