// ======================================================
// Layout :: Header
// ======================================================

/* stylelint-disable */
.main-header {
  background-color: $bg-indigo ;
  display: flex;
  width: 100%;
  height: 56px;
  align-items: stretch;

  &__brand {
    padding: 0 8px 0 16px;
    line-height: 30px;
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: rgba(20, 20, 31, .12);
   
    img {
      height: 32px;
      width: auto;
    }
    @include breakpoint-down(phone) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  &__btn-toggle,
  &__form-search,
  &__right {
    display: flex;
    align-items: center;
    padding-left: 32px;

    @include breakpoint-down(tablet) {
      padding-right: 16px;
      padding-left: 16px;
    }

    @include breakpoint-down(phone) {
      padding: 0;
    }
  }

  &__btn-toggle {
    display: none;

    @include breakpoint-down(phone) {
      display: block;
      padding-left: 8px;
      padding-right: 8px;

      .navbar-toggler {
        padding: 8px;
      }
      .button > i {
        margin-left: 0;
      }
    }
  }

  &__form-search {
    flex: 1;
    form {
      width: 100%;

      @include breakpoint-down(phone) {
        padding-right: 16px;
        padding-left: 8px;
      }
    }
    .form-group {
      margin-bottom: 0;

      input {
        border-color: transparent;
        background-color: hsla(0, 0%, 100%, .12);

        &::placeholder {
          color: hsla(0, 0%, 100%, .6);
        }

        &:focus {
          &::placeholder {
            color: $cl-dark-gray;
          }

          & ~ .input-field__icon i {
            color: $cl-dark-gray;
          }
        }
      }
      .input-field__icon i {
        color: hsla(0, 0%, 100%, .6);
      }
    }
  }

  &__right {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;

    @include breakpoint-down(phone) {
      display: none;
    }
  }

  .nav-icons {
    padding: 0 8px;
    @extend %dropdown;

    .nav-link {
      color: hsla(0, 0%, 100%, .8);
      cursor: pointer;
      margin: 0 4px;
      padding: 6px 12px;
      position: relative;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 36px;

      &:hover,
      &:focus {
        color: $cl-white;
        background-color: hsla(0, 0%, 100%, .12);
      }

      .indicator {
        display: block;
        height: 6px;
        width: 6px;
        position: absolute;
        top: 7px;
        right: 8px;
        border-radius: 3px;
        background-color: $bg-yellow ;
      }
    }
    & > .show >.nav-link {
      color: $cl-white;
      background-color: rgba(20, 20, 31, .12);
    }

    .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0;
      width: 320px;

      .dropdown-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: $cl-dark-gray;
        border-bottom: 1px solid rgba(34, 34, 48, .1);
        white-space: nowrap;
        
        > a {
          font-weight: 400;
          font-size: 12px;
          color: $cl-dark-gray;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        .badge {
          font-size: 11px;
          padding: 4px 6px;
        }
      }

      .dropdown-scroll {
        height: 263px;
        position: relative;
      }

      .dropdown-footer a{
        margin: 0;
        display: block;
        padding: 12px 16px;
        font-size: 14px;
        text-align: center;
        border-top: 1px solid rgba(34, 34, 48,.1);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
          background-color: $bg-light-gray;
        }
      }

      .dropdown-item {
        padding: 12px 16px;
        display: flex;
        align-items: flex-start;
        transition: all .3s;

        &--unread {
          .text,
          .subject {
            font-weight: 600;
            color: $cl-light-black;
          }
        }

        &__body {
          padding-left: 16px;
          flex: 1;
          white-space: normal;
          min-width: 0;

          .text,
          .subject {
            font-size: 14px;
            margin-bottom: 0;
            line-height: 19.6px;
          }

          .time {
            margin-bottom: 0;
            font-size: 12px;
            color: $cl-dark-gray;
            line-height: 17px;
          }
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $bg-indigo ;

          .text,
          .subject,
          .time {
            color: $cl-white;
          }
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(34, 34, 48, .1);
        }
      }
    }

    &__activities {
      .dropdown-menu {
        position: absolute;
        will-change: top, left;
        top: 37px;
        left: -276px;
      }
    }

    .dropdown-sheets {
      .list-sheets {
        padding-top: 24px;
        display: flex;
        flex-flow: row wrap;
      }

      .dropdown-sheet-item {
        margin-bottom: 24px;
        color: $cl-dark-gray;
        width: 33.33333%;
        text-align: center;

        &__avatar {
          width: 48px;
          height: 48px;
          line-height: 48px;
          display: inline-block;
          margin-bottom: 4px;
          border-radius: 5px;
          font-size: 20px;
          color: $cl-white;

          &.bg--yellow {
            color: $cl-light-black;
          }
        }

        .title-peek {
          color: $cl-dark-gray;
          display: block;
          font-size: 14px;
        }
      }

      .title-wrapper {
        display: inline-block;
        text-align: center;

        &:hover .title-peek {
          color: $cl-light-black;
        }
      }
    }
  }
}

.user-avatar {
  @extend %user-avatar;
  &:focus {
    box-shadow: 0 0 0 3px #346cb0;
  }
  &--xs {
    width: 20px;
    height: 20px;
  }
  &--sm {
    width: 24px;
    height: 24px;
  }
  &--lg {
    width: 48px;
    height: 48px;
  }
  &--xl {
    width: 80px;
    height: 80px;
  }
}

.user-profile {
  $block: &;

  padding: 0 16px;
  min-width: 56px;
  min-height: 56px;
  color: $cl-white;
  border-left: 1px solid rgba(34, 34, 48, .12);
  cursor: pointer;
  align-items: center;
  display: flex;
  @extend %dropdown;

  &__avatar {
    @extend %user-avatar;
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  &__info {
    max-width: 160px;
    margin-right: 12px;
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    #{$block}__name,
    #{$block}__position {
      margin: 0;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      line-height: 16px;
    }

    #{$block}__position {
      font-size: 12px;
      font-weight: 400;
      opacity: .7;
    }
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, .12);
  }

  &.show {
    background-color: rgba(20, 20, 31, .12);
  }
  
  &.show {
    .dropdown-arrow {
      display: block;
      transform-origin: bottom;
      animation: showArrow .3s ease-in-out;
    }
  }
  .dropdown-menu {
    position: absolute;
    will-change: top, left;
    top: 5px;
    left: 0px;

    .dropdown-item{
      &__icon {
        margin-right: 4px;
        color: $cl-gray-2;
        width: 20px;
      }
      
      &:hover .dropdown-item__icon{
        color: $cl-white;
      }
    }
  }
}

/* stylelint-enable */
