// ======================================================
// Components :: Sidebar
// ======================================================
.aside-sidebar {
  left: 0;
  top: 56px;
  bottom: 0;
  z-index: 1030;
  position: fixed;
  width: 240px;
  max-width: 264px;
  color: inherit;
  overflow-x: hidden;
  background-color: $bg-light-gray;
  border-right: 1px solid rgba(20, 20, 31, .05);

  @include breakpoint-down(phone) {
    margin-top: 0;
    padding-bottom: 0;
    top: 0;
    left: -264px;
    z-index: 1096;
    width: 264px;
    border-right: none;
    transition: left .3s linear;

    &--visible {
      left: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    position: relative;
    display: none;
    background-color: $cl-white;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    z-index: 3;

    @include breakpoint-down(phone) {
      display: block;
    }
  }

  .user-profile {
    padding: 0;
    display: flex;
    flex-direction: column;
    &__btn {
      position: relative;
      display: flex;
      padding: 16px;
      width: 100%;
      align-items: center;
      justify-content: flex-start;

      &:active {
        color: $cl-light-black;
        background-color: rgba(52, 108, 176, .08);
      }

      &[aria-expanded='true'] .user-profile__icon i {
        transform: rotate(180deg);
      }
    }

    .user-avatar {
      margin-right: 12px;
    }

    &__icon {
      position: absolute;
      right: 16px;
      top: 50%;
      font-size: $font-size-base;
      transform: translateY(-50%);
      opacity: .7;

      > i {
        transition: transform .2s ease-in-out;
      }
    }

    &__summary {
      margin-right: 12px;
      display: block;
      text-align: left;
      flex: 1;
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
    }

    &__name,
    &__position {
      display: block;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
    }

    &__name {
      font-size: 18px;
      line-height: 24px;
      color: $cl-light-black;
    }

    &__position {
      font-weight: $font-weight-base;
      opacity: .7;
      font-size: $font-size-base;
      line-height: 16px;
      color: $cl-dark-gray;
    }

    &__setting {
      position: absolute;
      top: 80px;
      background-color: $cl-white;
      width: 100%;
      padding-bottom: 16px;
      box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
      z-index: 1;

      &.show {
        max-height: calc(100vh - 4.5rem);
        overflow: auto;
      }

      .setting-item {
        display: block;
        width: 100%;
        padding: 8px 16px;
        clear: both;
        font-weight: $font-weight-base;
        font-size: $font-size-medium;
        color: $cl-black-2;
        text-align: inherit;
        white-space: nowrap;
        line-height: 24px;
        background-color: transparent;
        border: 0;
      }

      .setting-item:active {
        color: $cl-white;
        background-color: $cl-indigo;
      }

      .setting-item__icon {
        text-align: center;
        width: 24px;
        margin-right: 10px;
        color: $cl-gray-2;
      }

      .setting-divider {
        height: 0;
        margin: 8px 0;
        overflow: hidden;
        border-top: 1px solid $cl-gray;
      }
    }
  }

  &__menu {
    position: relative;
    flex: 1;
  }

  &__footer {
    padding: 16px;
    border-top: 1px solid rgba(34, 34, 48, .1);

    .button i {
      margin-left: 8px;
    }
  }
}
