// ======================================================
// Base :: Background
// ======================================================

.bg {
  &--white {
    background: $bg-white;
  }

  &--blue {
    background: $bg-blue;
  }

  &--light-blue {
    background: $bg-light-blue;
  }

  &--yellow {
    background: $bg-yellow;
  }

  &--indigo {
    background: $bg-indigo;
  }

  &--black {
    background: $bg-black;
  }

  &--gray {
    background: $bg-gray;
  }

  &--light-gray {
    background: $bg-light-gray;
  }

  &--orange {
    background: $bg-orange;
  }

  &--orange-2 {
    background: $bg-orange-2;
  }

  &--orange-3 {
    background: $bg-orange-3;
  }

  &--red {
    background: $bg-red;
  }

  &--red-2 {
    background: $bg-red-2;
  }

  &--red-3 {
    background: $bg-red-3;
  }

  &--green {
    background: $bg-green;
  }

  &--light-green {
    background: $bg-light-green;
  }

  &--cyan {
    background: $bg-cyan;
  }

  &--purple {
    background: $bg-purple;
  }

  &--light-purple {
    background: $bg-light-purple;
  }

  &--dark-purple {
    background: $bg-dark-purple;
  }
}
