// ======================================================
// Base :: Colors
// ======================================================

.color {
  &--white {
    color: $cl-white;
  }

  &--blue {
    color: $cl-blue;
  }

  &--light-blue {
    color: $cl-light-blue;
  }

  &--dark-blue {
    color: $cl-indigo;
  }

  &--black {
    color: $cl-black;
  }

  &--gray {
    color: $cl-gray;
  }

  &--light-gray {
    color: $cl-light-gray;
  }

  &--orange {
    color: $cl-orange;
  }

  &--yellow {
    color: $cl-yellow;
  }

  &--red {
    color: $cl-red;
  }

  &--green {
    color: $cl-green;
  }

  &--light-green {
    color: $cl-light-green;
  }

  &--purple {
    color: $cl-purple;
  }

  &--dark-purple {
    color: $cl-dark-purple;
  }

  &--light-purple {
    color: $cl-light-purple;
  }

  &--indigo {
    color: $cl-indigo;
  }
}
