// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: 21px;
}

img {
  vertical-align: middle;
}

a {
  color: $blue;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}
