// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : 'Fira Sans', sans-serif;

// >> Font-size
$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base : 400;
$font-weight-bold : 600;

// Borders
$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

// z-index
$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);

//color
$cl-white       : #fff;
$cl-black       : #000;
$cl-light-black : #363642;

$cl-light-blue  : #015e82;
$cl-blue        : #0179a8;
$cl-indigo      : #346cb0;

$cl-green       : #007c69;
$cl-light-green : #00a28a;
$cl-dark-green  : #008974;
$cl-red         : #f05151;
$cl-orange      : #f5b548;
$cl-yellow      : #f7c46c;

$cl-light-purple: #b76ba3;
$cl-purple      : #a95292;
$cl-dark-purple : #5f4b8b;

$cl-gray        : #e6e8ed;
$cl-light-gray  : #f6f7f9;
$cl-dark-gray   : #888c9b;

$cl-xdark-blue  : #2b5a92;
$cl-xlight-blue : #5282bc;

//Background
$bsh-primary : rgba(255, 107, 0, .2);
$bsh-secondary : rgba(0, 0, 0, .1);

$bg-white       : #fff;
$bg-black       : #000;
$bg-indigo      : #346cb0;
$bg-light-blue  : #015e82;
$bg-blue        : #0179a8;

$bg-green       : #a7c796;
$bg-light-green : #00a28a;
$bg-cyan        : #3686a0;
$bg-red         : #f05151;
$bg-orange      : #f5b548;
$bg-yellow      : #f7c46c;

$bg-light-purple: #b76ba3;
$bg-purple      : #a95292;
$bg-dark-purple : #5f4b8b;

$bg-gray        : #e6e8ed;
$bg-light-gray  : #f6f7f9;
$bg-dark-gray   : #363642;

$bg-success     : #00a2df;

//border
$border-white       : #fff;
$border-black       : #000;
$border-indigo      : #346cb0;
$border-light-blue  : #015e82;
$border-blue        : #0179a8;

$border-green       : #007c69;
$border-light-green : #00a28a;
$border-dark-green  : #008974;
$border-red         : #f05151;
$border-orange      : #f5b548;
$border-yellow      : #f7c46c;

$border-light-purple: #b76ba3;
$border-purple      : #a95292;
$border-dark-purple : #5f4b8b;

$border-gray        : #e6e8ed;
$border-light-gray  : #f6f7f9;
$border-dark-gray   : #c6c9d5;
