// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
// >> Font-size
$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base : 400;
$font-weight-bold : 600;

// Borders
$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

// z-index
$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);
