// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
// >> Font-size
$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base : 400;
$font-weight-bold : 600;

// Borders
$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

// z-index
$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);

//color
$cl-white       : #fff;
$cl-black       : #000;
$cl-dark-blue   : #346cb0;
$cl-light-blue  : #015e82;
$cl-blue        : #0179a8;

$cl-green       : #007c69;
$cl-light-green : #00a28a;
$cl-dark-green  : #008974;
$cl-red         : #f05151;
$cl-orange      : #f5b548;
$cl-yellow      : #f7c46c;

$cl-light-purple: #b76ba3;
$cl-purple      : #a95292;
$cl-dark-purple : #5f4b8b;

$cl-gray        : #e6e8ed;
$cl-light-gray  : #f6f7f9;
$cl-dark-gray   : #363642;

//Background
$bg-white       : #fff;
$bg-black       : #000;
$bg-dark-blue   : #346cb0;
$bg-light-blue  : #015e82;
$bg-blue        : #0179a8;

$bg-green       : #007c69;
$bg-red         : #f05151;
$bg-orange      : #f5b548;
$bg-yellow      : #f7c46c;

$bg-light-purple: #b76ba3;
$bg-purple      : #a95292;
$bg-dark-purple : #5f4b8b;

$bg-gray        : #e6e8ed;
$bg-light-gray  : #f6f7f9;
$bg-dark-gray   : #363642;
