//-------------------------------------------------------
//- Styleguides :: Badge
//-------------------------------------------------------

h2 Badge

.row
  .col-6
    .code-example
      .demo
        +custom-badge({
          text: 'Badge',
          textColor: 'white',
          bgColor: 'blue'
        })
      pre
        code
          |+custom-badge({
          |  text: 'Badge',
          |  textColor: 'white',
          |  bgColor: 'blue'
          |})

  .col-6
    .code-example
      .demo
        +custom-badge({
          text: 'Badge',
          textColor: 'white',
          bgColor: 'purple'
        })
      pre
        code
          |+custom-badge({
          |  text: 'Badge',
          |  textColor: 'white',
          |  bgColor: 'bg-purple'
          |})
.row
  .col-6
    .code-example
      .demo
        +badge({
          text: 'Badge',
          type: 'success'
        })
      pre
        code
          |+badge({
          |  text: 'Badge',
          |  type: 'success'
          |})
  .col-6
    .code-example
      .demo
        +badge({
          text: 'Badge',
          type: 'warning'
        })
      pre
        code
          |+badge({
          |  text: 'Badge',
          |  type: 'warning'
          |})
.row
  .col-6
    .code-example
      .demo
        +badge({
          text: 'Badge',
          type: 'danger'
        })
      pre
        code
          |+badge({
          |  text: 'Badge',
          |  type: 'danger'
          |})
  .col-6
    .code-example
      .demo
        +badge({
          text: 'Badge',
          type: 'infor'
        })
      pre
        code
          |+badge({
          |  text: 'Badge',
          |  type: 'infor'
          |})