//-------------------------------------------------------
//- Styleguides :: Colors
//-------------------------------------------------------

-
  var colors = [
    { key: '$white', color: '#fff' },
    { key: '$black', color: '#000' },
  ];

.row
  each val in colors
    .col-3
      .code-example
        .demo(style=`background-color: ${val.color}; width: 100%; height: 100px`)
        pre
          code
            | #{val.key}: #{val.color}
