//-------------------------------------------------------
//- Styleguides :: Inputs
//-------------------------------------------------------

.row
  .col-lg-6.col-12
    h4 Input Text
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-1',
            placeholder: 'Placeholder'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-1',
          |     placeholder: 'Placeholder'
          |   })

  .col-lg-6.col-12
    h4 Input NoteText
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-2',
            type: 'email',
            placeholder: 'e.g. johndoe@looper.com',
            noteText: "We'll never share your email with anyone else."
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-2',
          |     type: 'email',
          |     placeholder: 'e.g. johndoe@looper.com',
          |     noteText: "We'll never share your email with anyone else."
          |   })
.row
  .col-lg-6.col-12
    h4 Input Readonly
    .code-example
      .demo
        form.form-custom
          +group-input-field-readonly({
            label: 'Label',
            id: 'input-3',
            value: 'Value'
          })
      pre
        code
          |form.form-custom
          |  +group-input-field-readonly({
          |     label: 'Label',
          |     id: 'input-3',
          |     value: 'Value'
          | })

  .col-lg-6.col-12
    h4 Input Disabled
    .code-example
      .demo
        form.form-custom
          +group-input-field-disabled({
            label: 'Label',
            id: 'input-4',
            placeholder: 'Placeholder',
            disabled: 'true'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-disabled({
          |     label: 'Label',
          |     id: 'input-4',
          |     placeholder: 'Placeholder',
          |     disabled: 'true'
          |   })

.row
  .col-lg-6.col-12
    h4 Input Number
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-number',
            type: 'number',
            min: '0',
            max: '10',
            value: '0',
            iconUp: 'fas fa-plus',
            iconDown: 'fas fa-minus',
            placeholder: 'Amount (to the nearest dollar)'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-number',
          |     type: 'number',
          |     min: '0',
          |     max: '10',
          |     value: '0',
          |     iconUp: 'fas fa-plus'
          |     iconDown: 'fas fa-minus'
          |     placeholder: 'Amount (to the nearest dollar)'
          |   })

  .col-lg-6.col-12
    h4 Input Choose File
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-file',
            type: 'file',
            labelInput: 'Choose file'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-file',
          |     type: 'file',
          |     labelInput: 'Choose file'
          |   })

.row
  .col-lg-6.col-12
    h4 Input Icon
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-icon',
            iconBefore: 'oi oi-magnifying-glass',
            placeholder: 'Input Icon'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-icon',
          |     iconBefore: 'oi oi-magnifying-glass',
          |     placeholder: 'Input Icon'
          |   })
          
.row
  .col-lg-6.col-12
    h4 Input Clearable
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-7',
            clearable: 'fa fa-times-circle',
            value: 'Moonlight',
            placeholder: 'Type something...'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-7',
          |     clearable: 'fa fa-times-circle',
          |     value: 'Moonlight',
          |     placeholder: 'Type something...'
          |   })

  .col-lg-6.col-12
    h4 Input Spinner
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-8',
            spinner: true,
            value: 'Moon',
            placeholder: 'Type something...'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-8',
          |     spinner: true,
          |     value: 'Moon',
          |     placeholder: 'Type something...'
          |   })

.row
  .col-lg-6.col-12
    h4 Input Valid
    .code-example
      .demo
        form.form-custom
          +group-input-field-states({
            label: 'Label',
            id: 'input-9',
            isValid: true,
            noticeSuccess: "Success! You've done it.",
            placeholder: 'Type something...'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-states({
          |     label: 'Label',
          |     id: 'input-9',
          |     isValid: true,
          |     noticeSuccess: "Success! You've done it.",
          |     placeholder: 'Type something...'
          |   })

  .col-lg-6.col-12
    h4 Input Invalid
    .code-example
      .demo
        form.form-custom
          +group-input-field-states({
            label: 'Label',
            id: 'input-10',
            isInvalid: true,
            noticeError: 'Sorry, the image must be at least 300×300.',
            iconError: 'fa fa-exclamation-circle fa-fw',
            placeholder: 'Type something...'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-states({
          |     label: 'Label',
          |     id: 'input-10',
          |     isInvalid: true,
          |     noticeError: 'Sorry, the image must be at least 300×300.',
          |     iconError: 'fa fa-exclamation-circle fa-fw',
          |     placeholder: 'Type something...'
          |   })

h3 Input size
-
  var InputSizes = [
    { size: 'small' },
    { size: 'medium' },
    { size: 'large' }
  ];

.row
  each val, index in InputSizes
    .col-lg-4.col-12
      .code-example
        .demo
          form.form-custom
            +group-input-field-base({
              label: 'Label',
              id: `input${index}`,
              size: val.size,
              placeholder:'e.g. johndoe@looper.com'
            })
        pre
          code
            |form.form-custom
            |   +group-input-field-base({
            |     label: 'Label',
            |     id: 'input#{index}',
            |     size: '#{val.size}'
            |     placeholder: 'e.g. johndoe@looper.com'
            |   })

h3 Labels

.row
  .col-lg-6.col-12
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-12',
            required: true,
            placeholder:'Required asterisks'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-12',
          |     required: true,
          |     placeholder: 'Required asterisks'
          |   })

  -
    var badges = [
      { text: 'Required', type: 'danger' }
    ];

  .col-lg-6.col-12
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-13',
            placeholder:'Required label',
            badges
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-13',
          |     placeholder: 'Required label',
          |     badges
          |   })

.row
  .col-lg-6.col-12
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-14',
            countText: '0 of 80 characters used',
            placeholder:'Label with description'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-14',
          |     countText: '0 of 80 characters used',
          |     placeholder:'Label with description'
          |   })

  .col-lg-6.col-12
    .code-example
      .demo
        form.form-custom
          +group-input-field-base({
            label: 'Label',
            id: 'input-15',
            type: 'password',
            iconShow: 'fa fa-eye fa-fw',
            value:'label_with_action'
          })
      pre
        code
          |form.form-custom
          |   +group-input-field-base({
          |     label: 'Label',
          |     id: 'input-15',
          |     type: 'password',
          |     iconShow: 'fa fa-eye fa-fw',
          |     value:'label_with_action'
          |   })
