//-------------------------------------------------------
//- Styleguides :: Selectbox
//-------------------------------------------------------


h2 Selectbox

.row
  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +selectbox({
          id: 'member',
          label: 'Employee',
          options
        })
      pre
        code
          |+selectbox({
          |  id: 'member',
          |  label: 'Employee',
          |  options
          |})

  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +selectbox({
          id: 'member',
          label: 'Employee',
          disabled: 'disabled',
          options
        })
      pre
        code
          |+selectbox({
          |  id: 'member',
          |  label: 'Employee',
          |  disabled: 'disabled',
          |  options
          |})
.row
  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +selectbox({
          id: 'member',
          label: 'Employee',
          isValid: true,
          options
        })
      pre
        code
          |+selectbox({
          |  id: 'member',
          |  label: 'Employee',
          |  isValid: true,
          |  options
          |})
  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +selectbox({
          id: 'member',
          label: 'Employee',
          isInvalid: true,
          noticeError: ' Please select your state.',
          options
        })
      pre
        code
          |+selectbox({
          |  id: 'member',
          |  label: 'Employee',
          |  isInvalid: true,
          |  noticeError: ' Please select your state.',
          |  options
          |})

h2 Select Size
-
  var SelectSizes = [
    { size: 'small' },
    { size: 'medium' },
    { size: 'large' }
  ];

.row
  each val in SelectSizes
    .col-4
      .code-example
        .demo
          form.form-custom
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];

          +selectbox({
            id: 'member',
            label: 'Employee',
            size: val.size,
            options
          })
        pre
          code
            |+selectbox({
            |  id: 'member',
            |  label: 'Employee',
            |  size: '#{val.size}',
            |  options
            |})
  
h2 Select Float Label
.row
  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +select-float-label({
          id: 'member',
          label: 'Employee',
          options
        })
      pre
        code
          |+select-float-label({
          |  id: 'member',
          |  label: 'Employee',
          |  options
          |})
  .col-6
    .code-example
      .demo
        form.form-custom
        -
          var options = [
            { value: 'owner', display: 'Owner' },
            { value: 'member', display: 'Member' },
            { value: 'viewer', display: 'Viewer' },
            { value: 'non-member', display: 'Non-member' }
          ];

        +select-float-label({
          id: 'member',
          label: 'Employee',
          disabled: 'disabled',
          options
        })
      pre
        code
          |+select-float-label({
          |  id: 'member',
          |  label: 'Employee',
          |  disabled: 'disabled',
          |  options
          |})
