//-------------------------------------------------------
//- Styleguides :: Textarea
//-------------------------------------------------------

h3 Textarea

.row
  .col-6
    .code-example
      .demo
        +textarea({
          label: 'Label',
          id: 'textarea-1',
          rows: '3',
        })
      pre
        code
          |+textarea({
          |  label: 'Label',
          |  id: 'textarea-1',
          |  rows: '3'
          |})

  .col-6
    .code-example
      .demo
        +textarea({
          label: 'Label',
          id: 'textarea-2',
          rows: '3',
          placeholder: 'Placeholder'
        })
      pre
        code
          |+textarea({
          |  label: 'Label',
          |  id: 'textarea-2',
          |  rows: '3'
          |  placeholder: 'Placeholder'
          |})
.row
  .col-6
    .code-example
      .demo
        +textarea({
          label: 'Label',
          id: 'textarea-3',
          rows: '3',
          placeholder: 'Placeholder',
          badge: 'Optional'
        })
      pre
        code
          |+textarea({
          |  label: 'Label',
          |  id: 'textarea-3',
          |  rows: '3'
          |  placeholder: 'Placeholder',
          |  badge: 'Optional'
          |})
  .col-6
    .code-example
      .demo
        +textarea({
          label: 'Label',
          id: 'textarea-4',
          rows: '3',
          placeholder: 'Placeholder',
          textLabel: '0 of 80 characters used'
        })
      pre
        code
          |+textarea({
          |  label: 'Label',
          |  id: 'textarea-4',
          |  rows: '3'
          |  placeholder: 'Placeholder',
          |  textLabel: '0 of 80 characters used'
          |})
