// ======================================================
// Pages :: Page List
// ======================================================

.page-list {
  &__title {
    font-weight: $font-weight-medium;
    font-size: 35px;
    line-height: 1.2;
    color: inherit;
  }

  &__link {
    color: $cl-white;
    &:hover {
      color: $cl-white;
      text-decoration: none;
    }
  }

  .table {
    color: $cl-white;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $cl-gray;
  }

  th,
  td {
    vertical-align: top;
    border-top: 1px solid $cl-gray;
    font-weight: $font-weight-light;
    padding: 12px;
  }
}
