// ======================================================
// Pages :: User Activities
// ======================================================
.site-header-bar {
  margin-bottom: 24px;
  padding: 0;

  @include breakpoint-down(phone) {
    padding: 0 16px;
  }

  .breadcrumb {
    margin-bottom: 8px;
    padding: 0;
    background-color: transparent;
  }

  .breadcrumb-item {
    > a {
      color: inherit;
      border-radius: 1px;
      &:focus,
      &:active {
        color: $cl-blue-3;
        background-color: rgba(52, 108, 176, .08);
        box-shadow: 0 0 0 4px rgba(52, 108, 176, .08), 0 0 0 5px rgba(246, 247, 249, .5);
        outline: 0;
      }
    }

    &.active {
      color: $cl-dark-gray;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;

    .text-small {
      font-size: $font-size-base;
      color: $cl-dark-gray;
      padding: 4px 6px;

      @include breakpoint-down(phone) {
        font-size: $font-size-medium;
      }
    }
  }
}

.page-timeline {
  &__inner {
    margin: 16px 0;

    @include breakpoint-down(phone) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__title {
    margin-top: 0;
    padding: 16px 0;
    font-size: $font-size-medium;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .timeline {
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 0;

    @include breakpoint-down(phone) {
      padding: 0;
    }

    &__item {
      position: relative;
      display: flex;
      &:first-child .timeline__figure,
      &:first-child .timeline__body {
        padding-top: 0;
      }
      &:last-child .timeline__figure,
      &:last-child .timeline__body {
        margin-bottom: 20px;
      }
    }

    &__figure {
      position: relative;
      padding: 8px 0;
      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        top: 16px;
        left: 50%;
        margin-left: -1px;
        border-left: 2px solid rgba(34, 34, 48, .1);
      }

      .avatar {
        position: relative;
        box-shadow: 0 0 0 2px $cl-light-gray;
        background-color: $cl-gray;
        z-index: 2;
      }

      .avatar i {
        font-size: $font-size-medium;
      }
    }

    &__body {
      width: 100%;
      margin-left: 20px;
      padding: 8px 0;
    }

    &__heading {
      margin-top: 4px;
      margin-bottom: 8px;
      font-size: $font-size-base;
      font-weight: 600;
      line-height: 1.2;
      display: flex;
      align-items: center;
      a:hover {
        text-decoration: underline;
      }
    }

    &__text {
      margin-bottom: 0;
      a:hover {
        text-decoration: underline;
      }
    }

    &__date {
      font-size: 12px;
      color: $cl-dark-gray;
    }

    &__group-avatar {
      margin-bottom: 8px;
      .user-avatar {
        box-shadow: 0 0 0 2px $cl-white;
      }

      .user-avatar + .user-avatar {
        display: inline-block;
        margin-left: -8px;
      }

      .user-avatar:focus,
      .user-avatar:hover {
        z-index: 2;
      }
    }
  }

  &__loading {
    text-align: center;
    margin-bottom: 16px;
  }
}
