// ======================================================
// Pages :: Home
// ======================================================

.site-header-cover {
  &__inner {
    position: relative;
    padding: 32px 32px 16px 32px;
    display: flex;
    min-height: 16rem;
    flex-direction: column;
    background-color: $cl-gray;
    box-shadow: 0 1px 0 rgba(34, 34, 48, .1);

    @include breakpoint-down(tablet) {
      padding: 32px 16px 16px 16px;
    }
  }

  .site-profile {
    text-align: center;
    &__name {
      font-size: 24px;
      font-weight: 600;
      margin-top: 8px;
      line-height: 29px;
    }

    &__rank {
      margin: 4px 0;
      i {
        margin-right: 3px;
      }
    }

    &__position {
      color: $cl-dark-gray;
    }
  }

  .site-controls {
    text-align: right;
    position: absolute;
    top: auto;
    bottom: 8px;
    right: 16px;

    @include breakpoint-down(tablet) {
      position: relative;
      display: flex;
      top: 0;
      right: 0;

      .btn {
        flex: 1;
      }
    }
  }
}

.section-metric {
  margin-top: 16px;
  margin-bottom: 20px;

  &__item {
    background-color: $cl-white;
    padding: 16px;
    border-radius: 4px;
    min-height: 8.5rem;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  }

  &__title {
    font-size: $font-size-base;
    font-weight: 500;
    color: $cl-dark-gray;
    margin-top: 6px;
  }

  &__value {
    margin-bottom: 0;
    white-space: nowrap;
  }

  &__icon {
    color: $cl-gray-2;
    font-size: $font-size-base;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  &__count {
    font-size: 28px;
    font-weight: 600;
    color: $cl-light-black;
  }

  @include breakpoint-down(phone) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.achievement {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include breakpoint-down(phone) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 600;
    line-height: 1.2;
    padding: 16px 0;
    margin-bottom: 0;
  }

  &__dropdown {
    @extend %dropdown;
    &.show .dropdown-arrow {
      display: block;
    }

    .dropdown-menu {
      min-width: 288px;
      .input-radio-dropdown {
        margin-bottom: 0;
        padding: 8px 16px 8px 24px;
      }
    }
  }

  .card-legend {
    &__item {
      display: inline-block;
      margin-right: 8px;
      font-size: 11.2px;
      line-height: 1.5;
      i {
        margin-right: 4px;
      }

      @include breakpoint-down(phone) {
        font-size: 13px;
      }
    }
  }
}

.card-overview {
  .card-header {
    font-weight: 600;
    padding: 16px;
    font-size: $font-size-base;
    background-color: transparent;

    @include breakpoint-down(phone) {
      font-size: $font-size-medium;
    }
  }

  .card-body {
    &__item {
      display: flex;
      justify-content: space-between;

      &:nth-child(1) {
        margin-bottom: 16px;
      }

      &--summary {
        display: block;
      }
    }

    &__left {
      .title {
        font-size: $font-size-base;
        font-weight: 600;
        margin-right: 8px;
      }

      .percent {
        font-size: 11.2px;
        line-height: 1.5;
      }

      .percent i {
        margin-right: 4px;
      }
    }

    &__right,
    &__center {
      .number {
        font-weight: 600;
        margin-right: 4px;
      }

      .unit {
        color: $cl-dark-gray;
      }
    }

    &__center {
      margin-top: 16px;
      text-align: center;
      .number {
        font-size: 28px;
      }
    }

    &:nth-child(n+3) {
      border-top: 1px solid rgba(34, 34, 48, .1);
    }
  }
}

.card-time-projects,
.card-time-tasks {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: 0;

    &__title {
      font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: 0;

      @include breakpoint-down(phone) {
        font-size: $font-size-medium;
      }
    }

    &__dropdown {
      margin: -8px 0;

      @extend %dropdown;
      &.show .dropdown-arrow {
        display: block;
      }
      .button > i {
        margin-left: -4px;
      }
    }
  }

  .card-table {
    .table {
      margin-bottom: 0;
    }

    .table thead th {
      border-top: 0;
      border-bottom: 1px solid $cl-gray-4;
    }

    th,
    td {
      padding: 12px 16px;
      vertical-align: middle;
      white-space: nowrap;
    }

    .avatar {
      margin-right: 12px;
      transition: all .3s;
      color: $cl-gray;
      &:hover {
        color: $cl-gray-5;
      }
    }

    .badge {
      color: $cl-gray;
    }

    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;

    a {
      display: block;
      padding: 16px;
      text-align: center;
    }
  }
}

.card-time-projects {
  .card-table {
    th:first-child {
      min-width: 260px;
    }

    th:nth-child(2) {
      text-align: center;
    }

    th:last-child {
      text-align: right;
      min-width: 142px;
    }

    td:nth-child(n+2) {
      text-align: center;
    }
  }
}

.card-time-tasks {
  .card-table {
    th:first-child {
      min-width: 259px;
    }
  }
}
