// ======================================================
// Pages :: Home
// ======================================================

.site-header-cover {
  &__inner {
    position: relative;
    padding: 32px 32px 16px 32px;
    display: flex;
    min-height: 16rem;
    flex-direction: column;
    background-color: $cl-gray;
    box-shadow: 0 1px 0 rgba(34, 34, 48, .1);

    @include breakpoint-down(phone) {
      padding: 32px 16px 16px 16px;
    }
  }

  .site-profile {
    text-align: center;
    &__name {
      font-size: 24px;
      font-weight: 600;
      margin-top: 8px;
      line-height: 29px;
    }

    &__rank {
      margin: 4px 0;
      i {
        margin-right: 3px;
      }
    }
    &__position {
      color: $cl-dark-gray;
    }
  }
  .site-controls {
    text-align: right;
    position: absolute;
    top: auto;
    bottom: 8px;
    right: 16px;

    @include breakpoint-down(tablet) {
      position: relative;
      display: flex;
      top: 0;
      right: 0;

      .btn {
        flex: 1;
      }
    }
  }
}

.section-metric {
  margin-top: 16px;
  margin-bottom: 20px;
  &__item {
    background-color: $cl-white;
    padding: 16px;
    border-radius: 4px;
    min-height: 8.5rem;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  }

  &__title {
    font-size: $font-size-base;
    font-weight: 500;
    color: $cl-dark-gray;
    margin-top: 6px;
  }

  &__value {
    margin-bottom: 0;
    white-space: nowrap;
  }

  &__icon {
    color: $cl-gray-2;
    font-size: $font-size-base;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  &__count {
    font-size: 28px;
    font-weight: 600;
    color: $cl-light-black;
  }

  @include breakpoint-down(phone) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.achievement {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include breakpoint-down(phone) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 600;
    line-height: 1.2;
    padding: 16px 0;
    margin-bottom: 0;
  }

  &__dropdown {
    @extend %dropdown;
    &.show .dropdown-arrow {
      display: block;
    }
    .dropdown-menu {
      min-width: 288px;
      .input-radio-dropdown {
        margin-bottom: 0;
        padding: 8px 16px 8px 24px;
      }
    }
  }

  .card-legend {
    &__item {
      display: inline-block;
      margin-right: 8px;
      font-size: 11.2px;
      line-height: 1.5;
      i {
        margin-right: 4px;
      }

      @include breakpoint-down(phone) {
        font-size: 13px;
      }
    }
  }
}
.card-overview {
  .card-header {
    font-weight: 600;
    padding: 16px;
    font-size: $font-size-base;
    background-color: transparent;

    @include breakpoint-down(phone) {
      font-size: $font-size-medium;
    }
  }

  .card-body {
    &__item {
      display: flex;
      justify-content: space-between;

      &:nth-child(1) {
        margin-bottom: 16px;
      }

      &--summary {
        display: block;
      }
    }

    &__left {
      .title {
        font-size: $font-size-base;
        font-weight: 600;
        margin-right: 8px;
      }

      .percent {
        font-size: 11.2px;
        line-height: 1.5;
      }

      .percent i {
        margin-right: 4px;
      }
    }

    &__right,
    &__center {
      .number {
        font-weight: 600;
        margin-right: 4px;
      }
      .unit {
        color: $cl-dark-gray;
      }
    }

    &__center {
      margin-top: 16px;
      text-align: center;
      .number {
        font-size: 28px;
      }
    }

    &:nth-child(n+3) {
      border-top: 1px solid rgba(34, 34, 48, .1);
    }
  }
}

.card-time-projects,
.card-time-tasks {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: 0;

    &__title {
      font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: 0;

      @include breakpoint-down(phone) {
        font-size: $font-size-medium;
      }
    }

    &__dropdown {
      margin: -8px 0;

      @extend %dropdown;
      &.show .dropdown-arrow {
        display: block;
      }
      .button > i {
        margin-left: -4px;
      }
    }
  }
  .card-table {
    .table {
      margin-bottom: 0;
    }
    .table thead th {
      border-top: 0;
      border-bottom: 1px solid $cl-gray-4;
    }
    th,
    td {
      padding: 12px 16px;
      vertical-align: middle;
      white-space: nowrap;
    }
    .avatar {
      margin-right: 8px;
      transition: all .3s;
      color: $cl-gray;
      &:hover {
        color: $cl-gray-5;
      }
    }
    .badge {
      color: $cl-gray;
    }
    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    a {
      display: block;
      padding: 16px;
      text-align: center;
    }
  }
}

.card-time-projects {
  .card-table {
    th:first-child {
      min-width: 260px;
    }
    th:nth-child(2) {
      text-align: center;
    }
    th:last-child {
      text-align: right;
      min-width: 142px;
    }
    td:nth-child(n+2) {
      text-align: center;
    }
  }
}

.card-time-tasks {
  .card-table {
    th:first-child {
      min-width: 259px;
    }
  }
}


@media (min-width: 576px) {
  .site-header-cover {
    &__inner {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}

@media (min-width: 992px) {
  .site-header-cover {
    &__inner {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

/* stylelint-disable */
.flatpickr-calendar {
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 0 1px rgba(20, 20, 31, 0.05), 0 2px 7px 1px rgba(20, 20, 31, 0.16);
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: rgba(20, 20, 31, 0.15);
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: rgba(255, 255, 255, 0.98);
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: rgba(255, 255, 255, 0.98);
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: rgba(20, 20, 31, 0.15);
}

.flatpickr-calendar.inline {
  background-color: $cl-white;
  border: 1px solid $border-dark-gray;
  box-shadow: none;
}

.flatpickr-calendar.open {
  z-index: 1055;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  border-top: none;
}

.dropdown-menu .flatpickr-calendar {
  width: auto !important;
  border-radius: 0;
  border-width: 1px 0 0;
}

.flatpickr-innerContainer + .flatpickr-time {
  border-top: 1px solid $cl-gray-4 !important;
}

.flatpickr-time input,
.flatpickr-time .flatpickr-am-pm {
  color: $cl-light-black;
}

.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background-color: $cl-white;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover {
  background-color: $cl-white;
}

.flatpickr-time .numInputWrapper:first-child input {
  border-radius: 0.25rem 0 0 0.25rem;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: $cl-dark-gray;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: $cl-dark-gray;
}

.flatpickr-months {
  -ms-flex-align: center;
      align-items: center;
}

.flatpickr-months .flatpickr-month,
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: $cl-light-black;
  fill: $cl-light-black;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: static;
  height: auto;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 10px;
  height: 10px;
}

.flatpickr-months .flatpickr-prev-month:focus svg,
.flatpickr-months .flatpickr-next-month:focus svg {
  fill: $cl-indigo;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $cl-indigo;
}

.flatpickr-month {
  display: -ms-flexbox;
  display: flex;
  color: $cl-light-black;
  fill: $cl-light-black;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: auto;
}

.flatpickr-prev-month,
.flatpickr-next-month,
.flatpickr-current-month {
  position: relative;
  width: auto;
  height: auto;
}

.flatpickr-current-month {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
  left: auto;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.flatpickr-current-month input.cur-year {
  font-weight: inherit;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: $cl-dark-gray;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: $cl-dark-gray;
}

.flatpickr-weekdays {
  height: auto;
}

span.flatpickr-weekday {
  padding: .5rem 0;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: rgba(34, 34, 48, 0.1);
}

span.flatpickr-weekday:last-child {
  border-right: 1px solid transparent;
}

.dayContainer {
  width: auto;
  max-width: none;
}

.flatpickr-days {
  width: auto;
}

.dropdown-menu .flatpickr-days {
  width: auto !important;
}

.flatpickr-day {
  padding: .5rem 0;
  height: auto;
  max-width: initial;
  line-height: 1;
  color: $cl-light-black;
  border-width: 1px 1px 0 0;
  border-color: rgba(34, 34, 48, 0.1);
  border-radius: 0;
}

.flatpickr-day:nth-child(7n+7) {
  border-right: none;
}

.rangeMode .flatpickr-day {
  margin-top: 0;
}

.flatpickr-day.inRange {
  box-shadow: none;
}

.flatpickr-day.today {
  color: $cl-white;
  background-color: $cl-indigo;
  border-color: $cl-indigo;
  box-shadow: inset 0 0 0 1px $cl-indigo, inset 0 0 0 3px $cl-white;
}

.flatpickr-day.today:focus {
  color: $cl-white;
  background-color: $cl-indigo;
  border-color: $cl-indigo;
}

.flatpickr-day.today:hover {
  color: $cl-white;
  background-color: $cl-indigo;
  border-color: $cl-indigo;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: $cl-dark-gray;
  border-color: rgba(34, 34, 48, 0.1);
  opacity: .8;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus,
.numInputWrapper:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time .flatpickr-am-pm:focus {
  color: $cl-blue-3;
  background: rgba(52, 108, 176, 0.12);
  border-color: rgba(52, 108, 176, 0.12);
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 rgba(52, 108, 176, 0.2);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  color: $cl-white;
  background: $cl-indigo;
  border-color: $cl-indigo;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0;
}

.flatpickr-day.selected.startRange + .endRange,
.flatpickr-day.startRange.startRange + .endRange,
.flatpickr-day.endRange.startRange + .endRange {
  box-shadow: -10px 0 0 $cl-indigo;
}

.flatpickr-day.week.selected {
  box-shadow: none;
}

.flatpickr-day.month.selected {
  border-radius: 0;
  box-shadow: none;
}

.flatpickr-day.month.selected.startRange,
.flatpickr-day.month.selected.endRange {
  border-radius: 0;
}

.flatpickr-confirm {
  height: 40px;
  max-height: 0px;
  visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.98);
  border-top: 1px solid $cl-gray-4;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.flatpickr-confirm svg path {
  fill: inherit;
}

.flatpickr-confirm.darkTheme {
  color: white;
  fill: white;
}

.flatpickr-confirm.visible {
  max-height: 40px;
  visibility: visible;
}
/* stylelint-enable */
