// ======================================================
// Pages :: User Projects
// ======================================================

.card {
  .progress {
    border-radius: 0;
  }
  .progress-xs {
    height: 3px;
  }
}

.card-project {
  .card-header,
  .card-footer {
    padding: 16px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__dropdown {
      margin: -8px 0;

      @extend %dropdown;
      &.show .dropdown-arrow {
        display: block;
      }
      .button > i {
        margin-left: -4px;
      }
    }
    &__badge {
      background-color: $cl-gray;
      > i:not(.fa-check-circle) {
        margin-right: 4px;
        color: $cl-dark-gray;
      }
    }
  }

  .card-footer {
    padding-top: 0;
  }

  .card-body {
    padding-bottom: 0;

    .has-badge {
      position: relative;
      display: inline-block;
      margin-bottom: 16px;

      .avatar {
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 20px;
      }
      .user-avatar {
        line-height: 1.25;
        border: 3px solid $cl-white;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    .card-title {
      font-size: $font-size-medium;
      margin-bottom: 16px;

      > a {
        color: inherit;
        text-decoration: none;
      }
    }
    .card-subtitle {
      margin-top: -12px;
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $cl-dark-gray;
    }

    .card-group-avatar {
      margin: 16px 0;
      display: inline-block;

      .user-avatar {
        box-shadow: 0 0 0 2px $cl-white;
        width: 24px;
        height: 24px;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4rem;
        position: relative;
        margin-bottom: 0;
        margin-left: -8px;
      }

      .user-avatar:hover {
        z-index: 2;
      }

      .member {
        text-decoration: none;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        color: $cl-dark-gray;
        font-weight: 600;
        background-color: $cl-gray-6;
        margin-left: 4px;
      }

      .member:hover,
      .member:active,
      .member:focus {
        color: $cl-light-black;
      }
    }
  }
}

@media (min-width: 768px) {
  .badge {
    font-size: 80%;
  }

  .card-project {
    .card-body {
      .card-subtitle {
        font-size: 12px;
      }
    }
  }
}
