// ======================================================
// Pages :: Home
// ======================================================

.site-content {
  padding-top: 56px;
  padding-right: 0;
  overflow: hidden;
  padding-left: 239px;
  background-color: $bg-light-gray;

  @include breakpoint-down(phone) {
    padding-left: 0;
  }

  &__inner {
    padding: 24px 32px;
    min-height: calc(100vh - 3.5rem);

    @include breakpoint-down(tablet) {
      padding: 24px 16px;
    }

    @include breakpoint-down(phone) {
      padding: 24px 0;
    }
  }
}
.dashboard-header {
  margin-bottom: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(phone) {
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: column;
    }
  }

  &__lead {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
  }

  &__pretitle {
    margin-bottom: 0;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 0;
    color: $cl-dark-gray;
  }

  &__dropdown {
    @include breakpoint-down(phone) {
      margin-left: auto;
    }
  }

  &__dropdown .dropdown {
    @extend %dropdown;
    &.show .dropdown-arrow {
      display: block;
    }
    .dropdown-menu {
      min-width: 288px;
    }
    .dropdown-menu .input-radio-dropdown {
      margin-bottom: 0;
      padding: 8px 16px 8px 24px;
    }
  }
}

.completion-tasks,
.tasks-performance,
.leaderboard {
  .card-title {
    margin-bottom: 16px;
    color: $cl-light-black;
    font-size: $font-size-medium;
    font-weight: 600;
  }
}

.completion-tasks {
  .card-chart {
    padding-top: 11px;
  }
}

.dashboard-metric {
  margin-top: 16px;
  margin-bottom: 16px;

  @include breakpoint-down(phone) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .card-metric {
    padding: 16px;
    border: 1px solid $cl-gray-3;
    border-radius: 4px;
    min-height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: $font-size-base;
      font-weight: 500;
      color: $cl-dark-gray;
      white-space: nowrap;
      margin-bottom: 10px;
    }

    &__value {
      margin-bottom: 0;
      white-space: nowrap;
      text-align: center;
    }

    &__icon {
      color: $cl-gray-2;
      font-size: $font-size-base;
      margin-right: 5px;
      vertical-align: text-bottom;
    }

    &__count {
      font-size: 28px;
      font-weight: 600;
      color: $cl-light-black;
    }

    &__badge {
      margin-bottom: 8px;
      font-size: $font-size-base;

      & + .card-metric__value {
        text-align: left;
      }
    }

    &:nth-child(2) {
      border-radius: 0;
    }

    .pulse {
      animation: pulse 2.5s ease infinite;
    }

    &--badge {
      justify-content: flex-start;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  .metric-flush {
    margin: 8px 0;

    @include breakpoint-down(phone) {
      > .col-12.card-metric:last-child {
        border-left: 1px solid $cl-gray-3;
      }
      > .col-12.card-metric:first-child {
        border-right: 1px solid $cl-gray-3;
      }
    }
  }

  .metric-flush > .col-12:first-child,
  .metric-flush > [class='col-*']:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0;
  }

  .metric-flush > .col-12:last-child,
  .metric-flush > [class='col-*']:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
  }
}

.tasks-performance {
  .card-chart {
    padding-top: 12px;
  }

  .chart-inline-group {
    height: 214px;
    position: relative;
    min-height: 131px;
  }

  .easypiechart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-footer {
    display: flex;
    align-items: stretch;
    padding: 0;
    background-color: transparent;

    &__item {
      padding: 16px;
      flex: 1;
      text-align: center;
      outline: 0;
    }

    &__icon i {
      margin-right: 4px;
    }

    &__text {
      color: $cl-dark-gray;
      font-size: 11.2px;
      line-height: 16.8px;
    }
  }
}

.leaderboard {
  .card-legend {
    display: flex;

    &__item {
      color: $cl-light-black;
      font-size: 11.2px;
      line-height: 16.8px;
      padding-right: 8px;
    }
    &__item i {
      margin-right: 4px;
    }
  }
  .card-body {
    padding-bottom: 0;
  }

  .card-list-group {
    &__item {
      display: flex;
      padding: 12px 0;
    }

    &__figure {
      padding-right: 6px;
    }

    &__progress {
      align-self: center;
      font-size: $font-size-base;
      flex: 1;
      min-width: 0;
    }

    .progress {
      background: none;
      border-radius: 0;
    }

    .progress-animated {
      animation: progressAnimated 1s;
    }
  }
}

.active-projects {
  .card-header {
    padding: 16px;
    color: $cl-light-black;
    font-size: $font-size-base;
    font-weight: 600;
    background-color: transparent;
  }

  .card-body {
    padding-top: 0;
  }

  .list-group-item {
    border: 0;
    display: flex;
    padding-left: 0;
    padding-right: 0;

    &__figure {
      display: flex;
      padding-right: 16px;
      align-items: center;
    }

    .has-badge {
      position: relative;
      display: inline-block;
    }

    .user-avatar {
      position: absolute;
      top: 0;
      left: 100%;
      line-height: 40;
      border: 3px solid $cl-white;
      transform: translate3d(-50%, 0, 0);
    }

    &__body {
      flex: 1;
      min-width: 0;
      align-self: center;
      font-size: $font-size-base;

      .card-title {
        margin-bottom: 0;
      }
      .card-title a {
        color: $cl-light-black;
        font-size: $font-size-medium;
        font-weight: 600;
        display: block;
        margin-bottom: 9px;
      }

      .card-subtitle {
        font-weight: $font-weight-base;
        color: $cl-dark-gray;
        font-size: 12px;
        margin-bottom: 3px;
      }

      .progress {
        height: 3px;
        font-weight: 600;
        background-color: transparent;
      }
    }
  }
}
.active-tasks {
  .card-header {
    padding: 16px;
    color: $cl-light-black;
    font-size: $font-size-base;
    font-weight: 600;
    background-color: transparent;
  }

  .todo-list {
    &__header {
      padding: 16px 0;
      font-size: $font-size-small;
      font-weight: 600;
      color: $cl-dark-gray;

      &:first-child {
        padding-top: 0;
      }
    }

    &__item {
      min-height: 36px;
      align-items: center;
      display: flex;

      &:hover {
        background-color: $bg-light-gray;
        border-radius: 3px;
      }

      .input-checkbox-custom {
        padding-left: 32px;
        flex: 1;
      }

      label:before,
      label:after {
        left: -32px;
      }

      .textSmall {
        color: $cl-red-3;
        font-size: 11.2px;
      }
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    a {
      display: block;
      padding: 16px;
      text-align: center;
    }
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes progressAnimated {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
