include ../page-list/_page-list
include ../head/_head
include ../header/_header
include ../menu/_menu
include ../footer/_footer

include ../_sidebar
include ../_buttons
include ../_checkbox
include ../_inputs
include ../_radio
include ../_selectbox
include ../_switch
include ../_textarea
include ../_modal

doctype html       
html(lang='en')
  head
    block head
  body
    block body
    
    block scripts
      script(src='js/main.js')
