@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap';
@import 'extensions/fontawesome/fontawesome';
@import 'extensions/bootstrap-override/custom';
@import 'extensions/iconic';
@import 'vendor/perfect-scrollbar';
@import 'vendor/bootstrap-override';

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholder';

@import 'base/global';
@import 'base/typography';
@import 'base/colors';
@import 'base/background';
@import 'base/fonts';

@import 'layout/header';
@import 'layout/footer';

@import 'components/button';
@import 'components/input';
@import 'components/checkbox';
@import 'components/radio';
@import 'components/selectbox';
@import 'components/textarea';
@import 'components/switch';
@import 'components/sidebar';
@import 'components/menu';

@import 'pages/home';
@import 'pages/page-list';
