
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap';
@import 'extensions/fontawesome/fontawesome';
@import 'extensions/bootstrap-override/custom';
@import 'extensions/iconic';
@import 'vendor/perfect-scrollbar';
@import 'vendor/bootstrap-override';
@import 'vendor/flatpickr';
@import 'vendor/pace';

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholder';

@import 'base/global';
@import 'base/typography';
@import 'base/colors';
@import 'base/background';
@import 'base/fonts';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';

@import 'components/button';
@import 'components/input';
@import 'components/checkbox';
@import 'components/radio';
@import 'components/selectbox';
@import 'components/textarea';
@import 'components/switch';
@import 'components/menu';
@import 'components/modal';

@import 'pages/ue-01-home';
@import 'pages/ue-02-user-profile';
@import 'pages/ue-03-user-activities';
@import 'pages/ue-04-user-teams';
@import 'pages/ue-05-user-projects';
@import 'pages/page-list';
@import 'pages/styleguides';

