// ======================================================
// Components :: Buttons
// ======================================================
.button {
  $button: &;

  font-weight: $font-weight-base;
  font-size: $font-size-base;
  height: 36px;
  border-radius: $border-radius-base;
  white-space: nowrap;
  transition: all .3s;

  &:hover {
    outline: none;
    box-shadow: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  & > i {
    margin-left: 4px;
  }
  &--primary {
    background-color: $cl-indigo;
    color: $cl-white;
    border-color: $cl-xdark-blue;
    &:hover {
      background-color: $cl-xdark-blue;
      color: $cl-white;
      border-color: $cl-xdark-blue;
    }
    &:focus {
      border-color: $cl-xdark-blue;
      box-shadow: inset 0 1px 0 0 lighten($cl-indigo, 10%), 0 0 0 1px $cl-xdark-blue;
    }
    &#{$button}--disabled {
      background-color: $cl-indigo;
      color: $cl-white;
      border-color: $cl-xdark-blue;
    }
  }
  &--secondary {
    color: $cl-light-black;
    background: linear-gradient(180deg, $cl-white, $bg-light-gray);
    border-color: $border-secondary;
    box-shadow: 0 1px 0 0 rgba(20, 20, 31, .05);
    &:hover {
      background: linear-gradient(180deg, $bg-light-gray, $bg-light-gray);
      border-color: $border-secondary;
      box-shadow: none;
    }
    &:focus {
      background: linear-gradient(180deg, $cl-white, $cl-light-gray);
      border-color: $cl-indigo;
      box-shadow: 0 0 0 1px $cl-indigo;
    }
    &#{$button}--disabled {
      color: $cl-light-black;
      background: linear-gradient(180deg, $cl-white, lighten($cl-light-gray, 6%));
      border-color: $cl-gray;
      box-shadow: 0 1px 0 0 rgba(20, 20, 31, .05);
    }
  }
  &--plight {
    color: $cl-indigo;
    border-color: $cl-indigo;
    background-color: transparent;
    &:hover {
      color: $cl-white;
      border-color: $cl-indigo;
      background-color: $cl-indigo;
    }
    &:focus {
      box-shadow: 0 0 0 1px rgba($cl-indigo, .5);
    }
    &#{$button}--disabled {
      color: $cl-indigo;
      border-color: $cl-indigo;
      background-color: transparent;
    }
  }
  &--slight {
    color: $cl-dark-gray;
    border-color: $cl-gray;
    background: transparent;
    &:hover {
      background-color: lighten($cl-gray, 5%);
    }
    &:focus {
      color: $cl-dark-gray;
    }
    &#{$button}--disabled {
      color: $cl-dark-gray;
      border-color: $cl-gray;
      background: transparent;
    }
  }
  &--infor {
    color: #346cb0;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: $cl-indigo;
      background-color: $cl-gray;
      border-color: $cl-gray;
      box-shadow: none;
    }
  }
  &--light {
    color: $cl-dark-gray;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: $cl-gray;
      color: $cl-light-black;
      border-color: $cl-gray;
      box-shadow: none;
    }
    &:active {
      color: #2e609c;
      border-color: transparent;
      background-color: rgba(52, 108, 176, .08);
      box-shadow: 0 0 0 1px hsla(228, 7%, 86%, .5);
    }
  }
  &--circle {
    width: 36px;
    height: 36px;
    border-radius: 36px;
  }
  &--disabled {
    opacity: .65;
  }
  &:disabled {
    opacity: .65;
  }
  &--xsmall {
    padding: 0 8px;
    height: 25px;
    line-height: 20px;
    font-size: calc(#{$font-size-base} - 1);
  }
  &--small {
    padding: 0 8px;
    height: 29px;
    line-height: 25px;
    font-size: calc(#{$font-size-base} - 1);
  }
  &--large {
    padding: 0 16px;
    height: 46px;
    line-height: 42px;
    font-size: $font-size-medium;
  }
  &--full {
    display: block;
    width: 100%;
  }

  @include breakpoint-down(phone) {
    font-size: $font-size-medium;
    line-height: 24px;
  }
}
