// ======================================================
// Components :: Input
// ======================================================

.form-customize {
  .label {
    color: $cl-light-black;
    text-align: left;
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 400;

    .required {
      display: inline-block;
      cursor: help;
      border-bottom: 0;
      color: $cl-light-purple;
      margin-left: 6px;
    }

    .badge {
      margin-left: 6px;
    }
  }

  .count-text {
    color: $cl-dark-gray;
  }

  .icon-show {
    color: $cl-indigo;
    cursor: pointer;

    span {
      margin-left: 3px;
    }

    &:hover {
      color: #234875;
    }
  }

  .form-control {
    border-color: $border-dark-gray;
    box-shadow: 0 0 10px 0 transparent;
    transition: all .25s ease;
    overflow: hidden;
    border-radius: 4px;
    font-size: 14px;

    &:focus {
      color: $cl-light-black;
      border-color: $cl-indigo;
      background-color: $bg-white;
      outline: 0;
      box-shadow: 0 0 0 1px $cl-indigo;
    }

    &:-ms-input-placeholder {
      color: $cl-dark-gray;
    }

    &::placeholder {
      color: $cl-dark-gray;
    }

    &[readonly] {
      color: $cl-light-black;
      pointer-events: none;
      height: 40px;
      background-color: $bg-white;
    }

    &[disabled] {
      background-color: $bg-light-gray;
    }
  }

  .error-notice,
  .success-notice,
  .note-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .error-notice {
    color: $cl-light-purple;
  }

  .success-notice {
    color: $cl-light-green;
  }

  .note-text {
    color: $cl-dark-gray;
  }
}

.input-field {
  position: relative;

  .form-control {
    height: 36px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 15px;
    color: #888c9b;
    z-index: 4;
    transform: translate3d(0, -50%, 0);

    &--before {
      left: 0;
      i {
        font-size: 14px;
        color: #888c9b;
      }
    }
  }

  &--icon-before {
    .form-control {
      padding-left: 37px;
    }
  }

  &--isValid {
    .form-control {
      background: url('#{$path-image}/ic-is-valid.svg');
      border-color: $border-light-green;
      background-repeat: no-repeat;
      background-position: calc(100% - .75rem) calc(.375em + .1875rem);
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

      &:focus {
        box-shadow: 0 0 0 1px $cl-light-green;
        border-color: $cl-light-green;
      }
    }
  }

  &--isInvalid {
    .form-control {
      background: url('#{$path-image}/ic-is-invalid.svg');
      border-color: $cl-light-purple;
      background-repeat: no-repeat;
      background-position: calc(100% - .75rem) calc(.375em + .1875rem);
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

      &:focus {
        box-shadow: 0 0 0 1px $cl-light-purple;
        border-color: $cl-light-purple;
      }
    }
  }

  &--number {
    .form-control {
      padding-right: 30px;
    }

    /* stylelint-disable */
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    /* stylelint-enable */

    .custom-number {
      position: absolute;
      right: 1px;
      top: 0;
      width: 24px;
      height: 100%;

      &__btn {
        position: absolute;
        right: 0;
        cursor: pointer;
        border-left: 1px solid $border-dark-gray;
        width: 100%;
        background-color: $bg-white;
        line-height: 1.1;
        text-align: center;
      }

      &__up {
        top: 1px;
        height: calc(50% - 1px);
        border-bottom: 1px solid $border-dark-gray;
        border-top-right-radius: 4px;
      }

      &__down {
        bottom: 1px;
        height: calc(50% - 1px);
        border-bottom-right-radius: 4px;
      }
    }
  }

  .custom-number {
    &__btn {

      &:hover,
      &:focus,
      &:active {
        color: #2e609c;
        background-color: rgba(52, 108, 176, .08);
      }

      i {
        font-size: 6px;
        vertical-align: middle;
      }
    }
  }

  &--file {
    position: relative;

    .form-control {
      z-index: 2;
      margin: 0;
      opacity: 0;
    }
  }

  &__file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 6px 12px;
    color: $cl-light-black;
    background-color: $bg-white;
    font-weight: 400;
    border: 1px solid $border-dark-gray;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 rgba(34, 34, 48, .05);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:after {
      content: 'Browse';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 6px 12px;
      color: $cl-light-black;
      background: $bg-light-gray;
      z-index: 3;
      display: block;
      height: calc(1.5em + .75rem);
      border-left: inherit;
      border-radius: 0 4px 4px 0;
    }
  }

  &--clearable {
    .form-control {
      padding-right: 30px;
    }

    .close {
      position: absolute;
      display: none;
      top: 50%;
      right: 0;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 15px;
      color: $cl-dark-gray;
      z-index: 4;
      transform: translate3d(0, -50%, 0);

      &.show {
        display: block;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        color: $cl-light-black;
      }
    }
  }

  &--spinner {
    .form-control {
      padding-right: 30px;
    }

    .spinner-border {
      position: absolute;
      top: 10px;
      right: 12px;
      color: $cl-dark-gray;
    }
  }

  &--small {
    .form-control {
      height: 29px;
      font-size: 13px;
    }
  }

  &--medium {
    .form-control {
      height: 36px;
      font-size: 14px;
      line-height: 19.5px;
    }
  }

  &--large {
    .form-control {
      height: 46px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.input-label {
  position: relative;

  > label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 12px;
    width: 100%;
    margin-bottom: 0;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    color: $cl-dark-gray;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    pointer-events: none;
  }

  .form-control {
    padding: 20px 12px 4px;
    font-size: 14px;
    height: 47px;
    line-height: 21px;

    &.placeholder-shown {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &--spinner {
    .form-control {
      padding-right: 30px;
    }

    .spinner-border {
      position: absolute;
      top: 15px;
      right: 12px;
      color: $cl-indigo;
    }
  }

  &--isValid {
    .form-control {
      background: url('#{$path-image}/ic-is-valid.svg');
      border-color: $cl-light-green;
      background-repeat: no-repeat;
      background-position: calc(100% - .75rem) calc(.75em + .1875rem);
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

      &:focus {
        box-shadow: 0 0 0 1px $cl-light-green;
        border-color: $cl-light-green;
      }
    }
  }

  &--isInvalid {
    .form-control {
      background: url('#{$path-image}/ic-is-invalid.svg');
      border-color: $cl-light-purple;
      background-repeat: no-repeat;
      background-position: calc(100% - .75rem) calc(.75em + .1875rem);
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

      &:focus {
        box-shadow: 0 0 0 1px $cl-light-purple;
        border-color: $cl-light-purple;
      }
    }
  }
}

.badge {
  font-size: 11.2px;
  padding: 4px 6px;

  &--success {
    color: $cl-dark-green;
    background-color: rgba($bg-success, .08);
  }

  &--warning {
    color: $cl-light-black;
    background-color: $bg-yellow;
  }

  &--danger {
    color: $cl-white;
    background-color: $bg-light-purple;
  }

  &--infor {
    color: $cl-dark-green;
    background-color: rgba($cl-light-green, .08);
  }

  &--secondary {
    color: $cl-light-black;
    background-color: $bg-light-gray;
  }
}
