// ======================================================
// Components :: Menu
// ======================================================
.aside-menu {
  padding: 16px 0 4px;
  margin-bottom: 16px;
  width: 100%;
  overflow: hidden;
}

.navbar-nav {
  .nav-item {
    &--active {
      .nav-link,
      .nav-link:hover {
        background-color: transparent;
        color: #346cb0;
      }
      .nav-link .nav-icon,
      .nav-link:hover .nav-icon {
        color: #346cb0;
      }
      &:not(.nav-item--has-children) .nav-link {
        font-weight: 600;
      }
      &.nav-item--has-children .nav-link {
        color: #888c9b;
      }
      &.nav-item--has-children .nav-link[aria-expanded='true'] {
        color: #363642;
      }
      &.level2 .nav-link {
        color: #346cb0;
      }
    }
    & + .nav-item {
      margin-top: 0;
    }

    &--has-children {
      position: relative;
      > .nav-link:after {
        content: '';
        position: absolute;
        right: 12px;
        top: 50%;
        margin-top: -6px;
        opacity: .4;
        height: 1em;
        width: 1em;
        transform: translateY(0);
        transition: transform .2s ease-in-out;
        background: url('../images/arrow-right.svg') 50% no-repeat;
      }
    }
    &.level1 {
      &:not(.nav-item--active) [aria-expanded='true'] .nav-icon {
        color: #888c9b;
      }
    }
    &.level2 {
      .nav-link {
        padding-left: 52px;
      }
      &:not(.nav-item--active) .nav-link {
        color: #888c9b;
      }
      .nav-link:hover {
        color: #346cb0;
        background-color: transparent;
      }
    }
    &.level3 {
      .nav-link {
        padding-left: 4.25rem;
      }
    }
    &.level4 {
      .nav-link {
        padding-left: 84px;
      }
    }
  }
  .nav-link {
    padding: 6px 24px 6px 16px;
    color: #363642;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    transition: all .3s;
    &:hover {
      color: #222230;
      background-color: transparent;

      .nav-icon {
        color: #888c9b;
      }
    }
    .nav-icon {
      color: #a6abbd;
      width: 22.5px;
      font-size: 18px;
      text-align: center;
      margin-right: 13px;
    }
    .badge {
      right: 28px;
      position: absolute;
      font-size: 11.2px;
      padding: 4px 6px;
      top: 8px;
    }

    &[aria-expanded='true'] {
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}

.navbar-heading {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 8px 16px;
  line-height: 20px;
  color: #888c9b;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-page-nav {
  padding-right: 16px;
  padding-left: 16px;
  height: 56px;
  background-color: $bg-white;
  border-bottom: 1px solid #e0e1e5;

  .nav {
    .nav-tabs {
      border-bottom: 0;
    }
    &__link {
      display: inline-block;
      padding: 16px;
      border-bottom: 3px solid transparent;
      color: #888c9b;
      transition: all .3s;

      &.active {
        color: #222230;
        background-color: transparent;
        border-color: #346cb0;
        display: inline-block;
      }

      &:hover:not(.active),
      &:focus {
        color: #222230;
        border-color: #e6e8ed #e6e8ed rgba(34, 34, 48, .1);
      }
    }
  }
  &__scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;
    height: 58px;
    .nav {
      display: block;
      flex-wrap: nowrap;
      padding-bottom: 16px;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
    }
  }
}

@media (min-width: 576px) {
  .site-header-cover {
    &__inner {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}
