// ======================================================
// Components :: Modal
// ======================================================

.modal {
  .modal-dialog-scrollable {
    .modal-header,
    .modal-footer {
      z-index: 2;
    }

    .modal-header {
      border-bottom: 0;
      box-shadow: 0 2px 0 0 #e2e2e3;

      .modal-title {
        font-weight: 600;
        font-size: $font-size-medium;
      }
    }

    .modal-footer {
      border-top: 0;
      box-shadow: 0 -2px 0 0 #e2e2e3;
    }

    .modal-body--scrolled {
      box-shadow: none;
    }
  }

  .modal-header {
    &__form-search {
      width: 100%;

      .form-group {
        margin-bottom: 0;
      }
      .form-control {
        box-shadow: 0;
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-header,
  .modal-footer {
    border: 0;
  }

  .list-group {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;

    .list-group-item {
      display: flex;
      align-items: stretch;
      border-width: 1px 0;
      border-color: transparent;
      padding: 12px 16px;
      outline: 0;
      &:first-child {
        border-width: 0 0 1px;
      }

      &__figure {
        display: flex;
        align-items: center;
        color: $cl-gray-2;
      }

      &__figure:first-child {
        padding-right: 16px;
      }

      &__title {
        font-size: $font-size-medium;
        margin: 0;
        line-height: 20px;
        font-weight: $font-weight-base;
      }

      &__title a {
        color: #222230;
      }

      &__text {
        margin-bottom: 0;
        line-height: 20px;
        color: $cl-dark-gray;
      }

      &__body {
        flex: 1;
      }

      &__dropdown {
        margin: -8px 0;
      }
    }

    .dropdown {
      @extend %dropdown;
      &.show .dropdown-arrow {
        display: block;
      }
      .button > i {
        margin-left: -4px;
      }
    }

    &--flush .list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      &:first-child .list-group-item:first-child {
        border-top: 0;
      }
    }

    &--divider .list-group-item {
      margin-top: 0;
      padding: 0;
      border-bottom: 0;

      &__figure {
        padding: 12px 16px;
      }

      &__body {
        padding: 12px 0;
      }

      &:not(:first-child) > .list-group-item__body,
      &:not(:first-child) > .list-group-item__figure:last-child {
        border-top: 1px solid #ecedf1;
      }
    }
  }
}
