// ======================================================
// Components :: Modal
// ======================================================

.modal {
  .modal-dialog-scrollable {
    .modal-body--scrolled {
      box-shadow: none;
    }

    .modal-header {
      border-bottom: 0;
      box-shadow: 0 2px 0 0 rgba(20, 20, 31, .125);
    }

    .modal-footer {
      border-top: 0;
      box-shadow: 0 -2px 0 0 rgba(20, 20, 31, .125);
    }
  }

  .modal-title {
    font-weight: 600;
    font-size: 16px;
  }

  .modal-body {
    padding: 0;
  }

  .list-group {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;

    .list-group-item {
      display: flex;
      align-items: stretch;
      border-width: 1px 0;
      border-color: transparent;
      outline: 0;
      &:first-child {
        border-width: 0 0 1px;
      }

      &__figure {
        display: flex;
        align-items: center;
        color: #a6abbd;
      }

      &__title {
        font-size: 16px;
        margin: 0;
        line-height: 20px;
        font-weight: 400;
      }

      &__title a {
        color: #222230;
      }

      &__text {
        margin-bottom: 0;
        line-height: 20px;
        color: #888c9b;
      }

      &__body {
        flex: 1;
      }
    }

    &--flush .list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      &:first-child .list-group-item:first-child {
        border-top: 0;
      }
    }

    &--divider .list-group-item {
      margin-top: 0;
      padding: 0;
      border-bottom: 0;

      &__figure {
        padding: 12px 16px;
      }

      &__body {
        padding: 12px 0;
      }

      &:not(:first-child) > .list-group-item__body,
      &:not(:first-child) > .list-group-item__figure:last-child {
        border-top: 1px solid #ecedf1;
      }
    }
  }
}
