// ======================================================
// Components :: Selectbox
// ======================================================

.custom-select {
  border-radius: 4px;
  padding: 6px 28px 6px 12px;
  line-height: 21px;
  border: 1px solid $border-dark-gray;
  color: $cl-black;
  margin-bottom: 0;
  height: 36px;
  font-size: $font-size-base;
  background: url('../images/ic-arrow-down-gray.svg') no-repeat right .75rem center, linear-gradient(180deg, $cl-white, $bg-light-gray);

  &:not(.custom-select--disabled) {
    cursor: pointer;
  }

  &--disabled {
    color: $cl-dark-gray;
    background-color: $cl-gray;
  }

  &:focus {
    border-color: $border-indigo;
    outline: 0;
    box-shadow: 0 0 0 1px $border-indigo;
  }

  &--isValid {
    background: url('../images/ic-arrow-down-gray.svg') no-repeat right .75rem center, url('images/ic-is-valid.svg') no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem), linear-gradient(180deg, $bg-white, $bg-light-gray);
    border-color: $cl-light-green;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

    &:focus {
      box-shadow: 0 0 0 1px $cl-light-green;
      border-color: $cl-light-green;
    }
  }

  &--isInvalid {
    background: url('../images/ic-arrow-down-gray.svg') no-repeat right .75rem center, url('images/ic-is-invalid.svg') no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem), linear-gradient(180deg, $bg-white, $bg-light-gray);
    border-color: $cl-light-purple;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);

    &:focus {
      box-shadow: 0 0 0 1px $cl-light-purple;
      border-color: $cl-light-purple;
    }
  }

  &--small {
    padding: 4px 8px;
    height: 29px;
    line-height: 19.5px;
    font-size: 13px;
  }

  &--medium {
    height: 36px;
    line-height: 21px;
    font-size: $font-size-base;
    padding: 6px 28px 6px 12px;
  }

  &--large {
    height: 46px;
    line-height: 24px;
    font-size: $font-size-medium;
    padding: 8px 16px;
  }
}

.error-notice {
  user-select: none;
}

.select-label {
  position: relative;

  > label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 12px;
    width: 100%;
    margin-bottom: 0;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    color: $cl-dark-gray;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    pointer-events: none;
  }

  select {
    padding: 20px 28px 4px 12px;
    font-size: $font-size-base;
    height: 47px;
    line-height: 21px;
  }
}
