// ======================================================
// Components :: Textarea
// ======================================================

.form-textarea {
  .form-control {
    border-radius: $border-radius-small;

    &:-ms-input-placeholder {
      color: $cl-gray;
    }

    &::placeholder {
      color: $cl-gray;
    }
  }
}
