// ======================================================
// Components :: Textarea
// ======================================================

.form-textarea {
  .form-control {
    box-shadow: inset 0 1px 0 0 rgba(34, 34, 48, .05);
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid $border-dark-gray;

    &:focus {
      color: $cl-light-black;
      background-color: $bg-white;
      border-color: $cl-dark-blue;
      outline: 0;
      box-shadow: 0 0 0 1px $cl-dark-blue;
    }

    &:-ms-input-placeholder {
      color: $cl-dark-gray;
    }

    &::placeholder {
      color: $cl-dark-gray;
    }
  }
}
