extends modules/layout/_core
         
block head
  +head(head.userProfile.title)
     
block body
  .overlay-mobile
  .main-wapper
    +header()
    block sidebar
      +sidebar('User','ue-02-user-profile.html')

    main.site-content
      header.site-header-cover
        .site-header-cover__inner
          .site-profile
            a.user-avatar.user-avatar--xl(href="ue-02-user-profile.html")
              img(src="images/profile.jpg", alt="user-avatar")
            .site-profile__name  Beni Arisandi 
            .site-profile__rank
              i.color--yellow(class="fa fa-star")
              i.color--yellow(class="fa fa-star")
              i.color--yellow(class="fa fa-star")
              i.color--yellow(class="fa fa-star")
              i.color--yellow(class="far fa-star")
            p.site-profile__position  Project Manager @CreativeDivision
            p Huge fan of HTML, CSS and Javascript. Web design and open source lover.

          .site-controls
            +buttons-link({
              text: '2,159 Followers', 
              type: 'light'
            })(
              data-toggle="modal" 
              data-target="#followersModal"
            )
            +buttons-link({
              text: '136 Following', 
              type: 'light'
            })(
              data-toggle="modal" 
              data-target="#followingModal"
            )

        +modalFollower()
        +modalFollowing()

        block menupage
          +menuPage("Overview", "ue-02-user-profile.html")

      block content
        .site-content__inner
          section.section-metric
            .row
              .col-lg-3.col-md-6.col-12
                .section-metric__item
                  p.section-metric__value
                    span.section-metric__icon
                      i(class= 'oi oi-people')
                    span.section-metric__count 12
                  .section-metric__title Teams

              .col-lg-3.col-md-6.col-12
                .section-metric__item
                  p.section-metric__value
                    span.section-metric__icon
                      i(class= 'oi oi-fork')
                    span.section-metric__count 47
                  .section-metric__title Projects 

              .col-lg-3.col-md-6.col-12
                .section-metric__item
                  p.section-metric__value
                    span.section-metric__icon
                      i(class= 'fa fa-tasks')
                    span.section-metric__count 64
                  .section-metric__title Active Tasks

              .col-lg-3.col-md-6.col-12
                .section-metric__item
                  p.section-metric__value
                    span.section-metric__icon
                      i(class= 'oi oi-timer')
                    span.section-metric__count 8
                  .section-metric__title Ongoing Tasks

          section.achievement
            .achievement__header
              h3.achievement__title Achievement
              .achievement__dropdown.dropdown
                +buttons({
                  text: 'This Month',
                  iconAfter: 'fa fa-fw fa-caret-down',
                  type: 'secondary'
                })(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static")
                .dropdown-arrow.dropdown-arrow--right
                .dropdown-menu.dropdown-menu-right
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpToday',
                    value: '0',
                    date: 'Today',
                    time: 'Mar 27'
                  })
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpYesterday',
                    value: '1',
                    date: 'Yesterday',
                    time: 'Mar 26'
                  })
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpWeek',
                    value: '2',
                    date: 'This Week',
                    time: 'Mar 21-27'
                  })
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpMonth',
                    value: '3',
                    date: 'This Month',
                    time: 'Mar 1-31',
                    checked: true
                  })
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpYear',
                    value: '4',
                    date: 'This Year',
                    time: '2018'
                  })
                  +group-input-radio-dropdown({
                    name: 'dpFilter',
                    id: 'dpCustom',
                    value: '5',
                    date: 'Custom',
                    flatpickr: true
                  })
            .achievement__content
              .row
                .col-xl-8.col-12
                  .card
                    .card-body
                      ul.card-legend
                        li.card-legend__item
                          i.color--light-green(class= "fa fa-fw fa-circle")
                          | Assigned tasks
                        li.card-legend__item
                          i.color--dark-purple(class= "fa fa-fw fa-circle")
                          | Completed tasks
                      .card-chart
                        canvas(id="achievement" width="1200px" height= "237px")

                .col-xl-4.col-12
                  .card.card-overview
                    h4.card-header Overview                                   
                    .card-body
                      .card-body__item
                        .card-body__left
                          span.title Revenue
                          span.percent.color--light-green
                            i(class= "fa fa-caret-up")
                            | 87%
                        .card-body__right
                          span.number 17,400
                          span.unit.text-small USD
                      .card-body__item
                        .card-body__left
                          span.title Projects
                          span.percent.color--light-green
                            i(class= "fa fa-caret-up")
                            | 24%
                        .card-body__right
                          span.number 5
                    .card-body
                      .card-body__item.mb-0
                        .card-body__left
                          span.title Expenses
                          span.percent.color--light-purple
                            i(class= "fa fa-caret-down")
                            | 12%
                        .card-body__right
                          span.number 1,600
                          span.unit.text-small USD
                    .card-body
                      .card-body__item.card-body__item--summary
                        .card-body__left
                          span.title Earnings
                          span.percent.color--light-green
                            i(class= "fa fa-caret-up")
                            | 24%
                        .card-body__center
                          span.number 15,800
                          span.unit USD

              .row
                .col-xl-6.col-12
                  .card.card-time-projects
                    .card-header
                      h4.card-header__title Time Spent: Projects
                      .card-header__dropdown.dropdown
                        +buttons({
                          type: 'light',
                          iconAfter: 'fa fa-fw fa-ellipsis-v'
                        })(class= "button--circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static")
                        .dropdown-arrow
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href="#!") Actions
                          a.dropdown-item(href="#!") Goes here
                          a.dropdown-item(href="#!") Remove
                    .card-table.table-responsive
                      table.table
                        thead
                          tr
                            th Project
                            th Progress
                            th Hours Spent
                        tbody
                          tr
                            td
                              a.avatar.bg--blue(href="#!") BA
                              a.card-table__link(href="#!") Booking App
                            td
                              span.badge.bg--blue 35%
                            td 35:28
                          tr
                            td
                              a.avatar.bg--light-green(href="#!") SB
                              a.card-table__link(href="#!") SVG Icon Bundle
                            td
                              span.badge.bg--light-green 35%
                            td 20:39
                          tr
                            td
                              a.avatar.bg--light-purple(href="#!") SP
                              a.card-table__link(href="#!") Syrena Project
                            td
                              span.badge.bg--light-purple 93%
                            td 35:28
                          tr
                            td
                              a.avatar.bg--green(href="#!") MG
                              a.card-table__link(href="#!") Mobile App Gex
                            td
                              span.badge.bg--green 100%
                            td 35:10
                          tr
                            td
                              a.avatar.bg--red(href="#!") LB
                              a.card-table__link(href="#!") Landing Page Booster
                            td
                              span.badge.bg--red 100%
                            td 21:21
                    .card-footer
                      a(href="#!") View report
                        i(class= 'fa fa-fw fa-angle-right')
                
                .col-xl-6.col-12
                  .card.card-time-tasks
                    .card-header
                      h4.card-header__title Time Spent: Tasks
                      .card-header__dropdown.dropdown
                        +buttons({
                          type: 'light',
                          iconAfter: 'fa fa-fw fa-ellipsis-v'
                        })(class= "button--circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static")
                        .dropdown-arrow
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href="#!") Actions
                          a.dropdown-item(href="#!") Goes here
                          a.dropdown-item(href="#!") Remove
                    .card-table.table-responsive
                      table.table
                        thead
                          tr
                            th Task
                            th Due Date
                            th Estimate
                            th Worked
                        tbody
                          tr
                            td
                              a.avatar.avatar--circle.bg--indigo(href="#!") SP
                              a.card-table__link(href="#!") Make lemonade from scratch
                            td Apr 02
                            td 24:00
                            td 16:36
                          tr
                            td
                              a.avatar.avatar--circle.bg--blue(href="#!") LT
                              a.card-table__link(href="#!") Mix up a pitcher of sangria
                            td In 3 days
                            td 04:00
                            td 03:36
                          tr
                            td
                              a.avatar.avatar--circle.bg--yellow(href="#!") OS
                              a.card-table__link(href="#!") Ride a roller coaster
                            td Tomorrow
                            td 48:00
                            td 50:02
                          tr
                            td
                              a.avatar.avatar--circle.bg--light-purple(href="#!") SP
                              a.card-table__link(href="#!") Dangle your feet off a dock
                            td Apr 07
                            td 6:00
                            td 03:11
                          tr
                            td
                              a.avatar.avatar--circle.bg--yellow(href="#!") OS
                              a.card-table__link(href="#!") Have a picnic in the park
                            td In 2 days
                            td 12:00
                            td 08:36
                    .card-footer
                      a(href="#!") View report
                        i(class= 'fa fa-fw fa-angle-right')
      
      +footer()